<nav class="menu">
    <ul>
        <div class="menu_left">
          {#   <!--<li><img src="{{ info_user.getUserPhoto.profil }}" alt="image profil" class="img_profil_nav"/></li><li><a href="#">{{ info_user.username }}</a></li>-->#}
            <li><img src="" alt="image profil" class="img_profil_nav"/></li><li><a href="#">login</a></li>
        </div>
        <div class="menu_right">
            <li><a href="/home">Home</a></li>
            <li><a href="/profil">Profil</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.asp">About</a></li>
        </div>
    </ul>
</nav>