<nav class="menu">
    <ul>
        <div class="menu_left">
          {#   <!--<li><img src="{{ info_user.getUserPhoto.profil }}" alt="image profil" class="img_profil_nav"/></li><li><a href="#">{{ info_user.username }}</a></li>-->#}
            <li><img src="" alt="image profil" class="img_profil_nav"/></li><li><a href="#">login</a></li>
        </div>
        <div class="menu_right">
            <li><form><input type="search" id="search">
                </form>
            <p class="user">

            </p>
            </li>
            <li><a href="/home">Home</a></li>
            <li><a href="/profil">Profil</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="{{ path('app_action_disconnect') }}">Logout</a></li>
        </div>
    </ul>
    <div class="" id="">

    </div>
</nav>
<div id="recherche" style="position: absolute;width: 368px;margin-left: 758px">
    <ul class="liste" id="liste">

    </ul>
</div>
